<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html lang="en"> 
    <head> 
       <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
       <title>Homepage</title> 
    </head> 
    <body> 
		<div>
			<h1>Ponder 09 Mail Prices</h1>
        </div>
        <div>
            <h1>Postage Required: $<%= postage %></h1>
        </div>
        
    </body> 
</html>